{% extends 'base.html.twig' %}

{% block title %}
	{{'task.update' |trans}}
{% endblock %}

{% block body %}
	<h1>{{'task.update' |trans}}</h1>

	{{ include('task/_form.html.twig', {'button_label': 'form.update'}) }}

	<a href="{{ path('app_task_index') }}">{{'task.back_page'|trans}}</a>

	{{ include('task/_delete_form.html.twig') }}
{% endblock %}
