{% extends 'base.html.twig' %}

{% block title %}{{'task.list'|trans}}{% endblock %}

{% block body %}
<h1>{{'task.list'|trans}}</h1>

<table class="table">
    <thead>
        <tr>
            <th>{{'task.title'|trans}}</th>
            <th>{{'task.description'|trans}}</th>
            <th>{{'task.status'|trans}}</th>
            <th>{{'task.deadline'|trans}}</th>
            <th>{{'task.actions'|trans}}</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{('task_status.'~ task.status.value ~'.label')|trans}}</td>
            <td>{{ task.deadline ? task.deadline|date('d-m-Y') : '' }}</td>
            <td>
                <a href="{{ path('app_task_show', {'id': task.id}) }}">{{'form.detail'|trans}}</a>
                <a href="{{ path('app_task_edit', {'id': task.id}) }}">{{'form.update'|trans}}</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">{{'task.list.not'|trans}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_task_new') }}">{{'task.new'|trans}}</a>
{% endblock %}