{% extends 'base.html.twig' %}

{% block title %}
	{{'task.create'|trans}}
{% endblock %}

{% block body %}
	<h1>{{'task.create'|trans}}</h1>

	{{ include('task/_form.html.twig') }}

	<a href="{{ path('app_task_index') }}">{{'task.back_page'|trans}}</a>
{% endblock %}
